.modalContainer :global(.vtex-modal__overlay) {
  background-color:rgba(63, 63, 64, 0.4) !important;
}

.modalContainer :global(.vtex-modal__modal) {
  max-width: 40rem;
}

.modalContainer :global(.vtex-styleguide-9-x-shadowTransition) {
  border-bottom: 1px solid #E3E4E6;
  padding: 2rem;
}

.modalContainer :global(.vtex-modal__close-icon) {
  position: relative;
  padding: 0;
}

.title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  display: flex;
  align-items: center;
  letter-spacing: -0.0125rem;
}

.modalContainer :global(.vtex-styleguide-9-x-scrollBar) {
  padding: 2rem;
}

.content {
  padding: 0 0 2rem 0;
}

.dialogAction {
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.dialogInput :global(.vtex-styleguide-9-x-input) {
  background-color: white;
}

.buttonContainer :global(.vtex-button) {
  width: 100%
}

.buttonContainer--pdpTablet {
  padding-top: 0.5rem;
}

@media (min-width: 80rem) {
  .buttonContainer :global(.vtex-button) {
    width: fit-content
  }
}
