.paragraph--noMarginAndPadding {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.container--navBarItem {
  padding: 0 1.25rem 1.25rem 1.25rem;
  margin: 0 0 0 0;
  border-bottom: 2px solid #F71963;
}

.paragraph--navBarItem {
  margin: 0 0 0 0;
}

.link--navBarItem {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.paragraph--supportOption {
  margin: 0 0 0 0;
}

.link--supportOption {
  cursor: pointer;
  text-decoration: none;
}

.paragraph--specificationName {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1.3125rem;
}