.homeLink--category,
.arrow--category--1,
.caretIcon--category,
.termArrow--category,
.term--category {
  display: none;
}

.arrow--category--2,
.link--category--2 {
  padding: 0 0 0 0;
  line-height: 2;
}

.container--category {
  display: flex;
  align-items: center;
  padding: 0 0 0 0;
}

.container--main {
  padding-top: 1.3125rem;
  padding-bottom: 1.3125rem;
  max-width: 90rem;
}

.link--main {
  font-size: 1rem;
}

.term--main {
  font-size: 1rem;
}

.homeIcon--main {
  width: 1.2rem;
  height: 1.2rem;
}