.flexRow--mainContainer {
  max-width: 90rem;
}

.flexCol--topBar {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 2rem;
  border-bottom: 1px solid #E3E4E6;
}

.flexCol--pdpContainer {
  background-color: white;
  border-radius: 0.5rem;
}

.flexCol--sideBar {
  width: 10rem;
  height: fit-content;
  position: sticky;
  top: 1.5rem;
}

.flexRowContent--contentHeaderPDP {
  align-items: flex-end;
  justify-content: space-between;
}

.flexRow--brand {
  display: flex;
  align-items: center;
}

.flexCol--specifications {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 6rem;
}

.flexRow--supportItem {
  margin-bottom: 1rem;
}

.flexCol--appSpecificationContainer {
  padding-top: 3rem;
}

@media (min-width: 40rem) {
  .flexRow--mainContainer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media(min-width: 80rem) {
  .flexRow--mainContainer {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}

