.summaryContainer--rating {
  display: flex;
  align-items: center;
}

.star {
  font-size: 22px;
}

.star--filled {
  color: #f2c94c;
}

.container {
  margin: 0;
  padding: 3rem 0 0 0;
  max-width: 100%;
}

.formContainer {
  background-color: #fff;
}

.formContainer :global(.vtex-card) {
  background-color: #fff;
}

.reviewsHeading {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.013rem;
  line-height: 1.625rem;
  border: none;
}
