.badgeContainer--specificationValue {
  background-color: #FFFFFF;
  margin: 0px;
  padding: 0px;
}

.groupContainer {
  margin: 0px;
  padding: 0px;
}

.badgeText--specificationValue {
  letter-spacing: -0.013rem;
  font-size: 1.3125rem;
  text-align: left;
  font-weight: 300;
  line-height: 2rem;
  margin: 0px;
  padding: 0px;
}