.storeSelectorContainer {
  display: flex;
  align-items: center;
  padding-right: 0;
  margin: 0;
}

.storeSelectorButtonText {
  font-size: 1rem;
  color: white;
  margin-right: 0;
}

.storeSelectorButton {
  font-size: 1rem;
  color: white;
}

.styledLoginLogout {
  padding: 2rem 0;
  margin: 0;
  color: white;
  margin-right: 2rem;
}

.loginLabel {
  padding: 2rem 0;
  margin: 0;
  color: white;
  margin-right: 2rem;
}

@media (max-width: 66rem) {
  .styledLoginLogout {
    padding: 0;
    margin: 0 1.5rem;
  }
}
