.storeSelectorContainer {
  display: flex;
  align-items: center;
  padding-right: 0;
}

.storeSelectorButtonText {
  font-size: 1rem;
  color: white
}

.storeSelectorButton {
  font-size: 1rem;
  color: white
}

.styledLoginLogout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: white;
  margin-right: 2rem;
}

@media(max-width: 66rem) {
  .styledLoginLogout {
    margin: 0 1.5rem;
  }
}