.logoImage {
  display: block;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border-style: none;
  max-width: 46rem;
  height: 64px;
}

.searchBarContainer :global(.vtex-input__suffix) {
  display: none;
}

.imageElement--testimonyImg {
  border-radius: 50%;
}