.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.buttonText {
  font-size: 1rem;
  color: white;
}

.button {
  font-size: 1rem;
  color: white;
  margin: 0;
}
