.badgeContainer--productSummary {
  margin: 0px;
  padding: 0px;
}

.badgeText--productSummary {
  letter-spacing: -0.013rem;
  font-size: 0.5rem;
  text-align: left !important;
  margin: 0px;
  padding: 0px;
}