.link--card3Link {
  height: 5.5rem;
  /* width: 22.1rem; */
  font-size: 1.5rem;
  border-color: #142032;
  background-color: #142032;
}

.link--cardButton {
  height: 4rem;
  width: 100%;
  max-width: 13.75rem;
}

.label--cardButton{ 
  padding-left: 0;
  padding-right: 0;
}

/** All Apps */
.link--allAppsEarnMoney {
  height: 5.5rem;
  /* width: 22.1rem; */
  font-size: 1.5rem;
  border: 0;
  background-color: #DD1659;
}

