.flexRow--header {
  z-index: 1000;
  width: 100%;
  top: 0;
  background-color: #25354D;
  padding-top: 5px;
}

.flexRow--transparent {
  z-index: 1000;
  width: 100%;
  top: 0;
  position: absolute;
  padding-top: 5px;
}

.flexColChild--testimonyTextCol {
  /* padding-right: 2rem; */
  width: 100%;
}

.flexRow--mainContainer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.flexRow--infocardHome {
  background: white;
  margin: 0 auto 0 auto;
  max-width: 96rem;
}

.flexColChild--bottomCardsCol {
  padding-bottom: .5rem;
}

.flexCol--testimonyTextCol {
  max-width: 25rem;
}

.flexColChild--headlinecover {
  display: flex;
  width: 100%;
  justify-content: center;
}

.flexRow--infocardHomeMobile {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.flexRow--headline {
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCol--categoryCard {
  border-radius: 0.5rem;
  height: 8rem;
}

.flexColChild--categoryCard {
  padding-left: 1rem;
  padding-right: 1rem;
}

.flexCol--textAlignLeft {
  text-align: left;
  justify-content: flex-start;
}

.flexCol--card1Color {
  background: #25354D;
}

.flexCol--card2Color {
  background: #134CD8;
}

.flexCol--card3Color {
  background: #3D5980;
}

.flexCol--card4Color {
  background: #DD1659;
}

.flexCol--bottomCardsCol {
  padding-bottom: 2rem;
}


.flexRow--testimonyContainer {
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.flexRowContent--testimonyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRow--homeShelf {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.flexRow--categoriesTitle {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

/**
  Desktop specifics
*/

@media (min-width: 64.1rem) {
  .flexRow--testimonyContainer {
    background-color: white;
    border: 1px solid #E3E4E6;
    box-sizing: border-box;
    border-radius: 8px;
    max-width: 46rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .flexCol--categoryCard {
    border-radius: 8px;
    height: 6.5rem;
  }

  .flexRow--hMargin {
    margin: 0 1rem;
  }

  .flexRowContent--categoryRow {
    justify-content: space-between;
  }
  .flexRow--categoryRow {
    justify-content: space-between;
  }

  .flexColChild--categoryCard {
    width: 16.625rem;
  }

  .flexRow--mainContainer {
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 90rem;
  }

  .flexRow--homeShelf {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .flexRow--categoriesTitle {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}

/**
  Tablet
*/

@media (min-width: 40rem) {

  .flexRow--mainContainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5.25rem;
    padding-right: 5.25rem;
  }

  .flexColChild--categoryCard {
    width: 16.625rem;
  }

  .flexRow--testimonyContainer {
    padding-left: 0;
    padding-right: 0;
  }

  .flexCol--testimonyCol {
    padding-left: 2rem; 
  }

}
