.imageContainer {
    height: 5rem;
    width: 5rem;
}

.imageNormal {
    width: 100px;
    height: 5.5rem;
}

.productBrand {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
}