.link--card3Link {
  height: 5.5rem;
  /* width: 22.1rem; */
  font-size: 1.5rem;
  border-color: #142032;
  background-color: #142032;
}

.link--cardButton {
  background-color: #F71963;
  height: 4rem;
  width: 100%;
  max-width: 16.75rem;
  border: none;
}

.link--cardButton:hover {
  background-color: #e20851;
}


.label--cardButton{ 
  /* padding-left: 0;
  padding-right: 0; */
}

.link--categoryCard{
  text-decoration: none;
  color: white;
  margin: 0;
}

.label--categoryCard {
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -0.2px;
  margin: 0;
  max-width: 9.6rem;
  display: inline-block;
}

.link--homeShelf3 {
  display: inline-block;
  width: 100%;
  text-align: right;
}