.logoImage {
  display: block;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border-style: none;
  height: 64px;
}

.searchBarContainer :global(.vtex-input__suffix) {
  display: none;
}

.imageElement--testimonyImg {
  border-radius: 50%;
}

.imageElement--coverImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
