.stepGroupAlert {
  display: none;
}

.billingAddressSectionContainer {
  display: none;
}

.creditCardExtraDataMessage {
  display: none;
}

.bankInvoiceOption {
  display: none;
}

.summaryInstallmentsMessage {
  display: none;
}
