.flexRowContent--checkoutContainer {
  padding-top: 5rem;
}
.flexRow--checkoutContainer {
  background-color: #fff;
}
.flexRow--checkoutColumnMobile {
  background-color: #fff;
}

.flexCol--checkoutSummaryDesktop {
  margin-left: 3rem;
  height: fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 1rem;
}