.imageContainer {
  height: 160px;
  width: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.description {
  text-align: left
}

.nameContainer--mostUsed,
.nameContainer--highlights {
  padding-top: 0;
  padding-bottom: .5rem;
}