.wrapper--allAppsBottomLeft {
  color: #f71963;
}

.wrapper--allAppsBottomRight {
  color: #f71963;
}

.wrapper--categories {
  margin: 3rem 0 0 0;
}

.paragraph--categories {
  margin: 0;
  padding: 0;
}

.paragraph--noLineHeight {
  line-height: unset;
}

.container--categories {
  padding-bottom: 1rem
}

@media(min-width: 600px){
  .paragraph--bigTitle {
    font-size: 4rem;
  }
}

