.flexRow--searchContainer {
  max-width: 90rem;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 2.5rem;
}

@media(max-width: 600px){ 
  .flexRow--searchContainer {
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}