.flexRow--searchContainer {
  width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 2.5rem;
}

@media(max-width: 600px){ 
  .flexRow--searchContainer {
    width: fit-content;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}